In [1]:
import pandas as pd
import numpy as np
#Transformasi data
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv("C:/Users/Acer/Downloads//DATA_COVID_1.csv")
df

,Unnamed: 0,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,COVID_CARRIER,DEATH
0,0,2,1,1,1,1,65,2,2,2,2,1,2,2,2,2,2,1,0
1,1,2,1,2,1,1,72,2,2,2,2,1,2,2,1,1,2,2,0
2,2,2,1,2,2,2,55,1,2,2,2,2,2,2,2,2,2,1,0
3,3,2,1,1,1,2,53,2,2,2,2,2,2,2,2,2,2,2,0
4,4,2,1,2,1,2,68,1,2,2,2,1,2,2,2,2,2,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1017104,1048570,2,13,2,1,2,40,2,2,2,2,2,2,2,2,2,2,2,1
1017105,1048571,1,13,2,2,2,51,2,2,2,2,1,2,2,2,2,2,2,1
1017106,1048572,2,13,2,1,2,55,2,2,2,2,2,2,2,2,2,2,2,1
1017107,1048573,2,13,2,1,2,28,2,2,2,2,2,2,2,2,2,2,2,1
1017108,1048574,2,13,2,1,2,52,2,2,2,2,2,2,2,2,2,2,2,1

In [4]:
X = df.drop("DEATH", axis=1).values
y = df["DEATH"].values

In [5]:
from imblearn.over_sampling import RandomOverSampler,SMOTE

SMOTE = SMOTE(random_state=0)
X, y = SMOTE.fit_resample(X,y)

In [6]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [8]:
#KLASIFIKASI DENGAN KNN
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics
from sklearn.metrics import confusion_matrix, classification_report
KNN = KNeighborsClassifier()

KNN.fit(X_train, y_train)
y_pred6 = KNN.predict(X_test)
score6 = metrics.accuracy_score(y_test, y_pred6)
print("Akurasi dengan menggunakan KNN: ", score6)

Akurasi dengan menggunakan KNN:  0.9789786612782074

In [15]:
from sklearn.neighbors import KNeighborsClassifier
import pickle


# Pickle the KNN model
filename = "KNN_model.pkl"
pickle.dump(knn, open(filename, "wb"))

In [16]:
# Pickle Scaler model
filename="Scaler_model.pkl"
pickle.dump(scaler, open(filename, "wb"))

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics
rfc = RandomForestClassifier()

rfc.fit(X_train, y_train)
y_pred8 = rfc.predict(X_test)
score8 = metrics.accuracy_score(y_test, y_pred8)

In [18]:
print("Akurasi dengan menggunakan RFC: ", score8)

Akurasi dengan menggunakan KNN:  0.9993811030119654

In [19]:
import pickle
fillname1="RFC_modelkematian.pkl"
pickle.dump(rfc, open(fillname1,"wb"))

In [21]:
#Klasifikasi dengan Decision Tree
from sklearn.tree import DecisionTreeClassifier
DTR = DecisionTreeClassifier()

DTR.fit(X_train, y_train)
y_pred7 = DTR.predict(X_test)
score7 = metrics.accuracy_score(y_test, y_pred7)
print("Akurasi dengan menggunakan Decision Tree: ", score7)

Akurasi dengan menggunakan Decision Tree:  0.9999656168339981

In [23]:
print("Akurasi dengan menggunakan DTR: ", score7)

Akurasi dengan menggunakan DTR:  0.9999656168339981

In [22]:
import pickle
fillname1="DTR_modelkematian.pkl"
pickle.dump(DTR, open(fillname1,"wb"))